__pycache__
ui_tests/__pycache__
api_tests/__pycache__
__deb_dist
__*logs
__dist*
__mgmt*
*.deb
build
.pytest_cache
screenshots
allure-results
*.py[cod]
*.log
dist.zip
.idea
.vscode
logs
apiary-env
distr
report
*.spec
cfg_env*
*__repo_data
