node_modules/
__pycache__
__deb_dist
__*logs
__dist*
__mgmt*
__deb_dist
*.deb
build/
.pytest_cache
.venv
# Compiled Python bytecode
*.py[cod]
# Log files
*.log
dist.zip
.idea/

logs
.DS_Store
Thumbs.db
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.jtl
/apiary-env
/distr
report/

*.spec

cfg_env*
*/*.egg-info
.vscode

ttrtt
nohup.out
*.whl
*.egg-info
*__repo_data
